.form {
  display: flex;
  flex-direction: column;

  &__group {
    display: flex;
    flex-direction: column;
    flex: 100%;
  }
}

.form-actions {
  display: flex;
  flex-direction: column;

  &__button {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 480px) {
  .form {
    flex-direction: row;

    &__group {
      flex: 50%;
      margin-right: 8px;
      margin-left: 8px;

      &:first-of-type{
        margin-left: 0;
      }

      &:last-of-type{
        margin-right: 0;
      }
    }
  }

  .form-actions {
    flex-direction: row;
  
    &__button {
      flex: 50%;
      margin-right: 8px;

      &:last-of-type{
        margin-right: 0;
      }
    }
  }
  
}

@media screen and (min-width: 720px) {
  .form {
    &__group {
      justify-content: space-around;
      flex-direction: row;
      margin-right: 0;
    }
  }

  .form-actions {
    justify-content: end;
    
    &__button {
      flex: none;
    }
  }
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
