<form class="form-wrapper" [formGroup]="searchForm" (ngSubmit)="submit()" autocomplete="off">
    <section class="form">
        <div class="form__group">
            <mat-form-field>
                <mat-label>Type of Activity</mat-label>
                <mat-select formControlName="typeId">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let type of types" [value]="type.id">
                        {{ type.displayName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Number of Participants</mat-label>
                <input type="number" matInput formControlName="participants">
                <mat-error *ngIf="searchForm.get('participants').invalid">
                    Must be at least one participant
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form__group">
            <mat-form-field *ngIf="prices">
                <mat-label>Prices</mat-label>
                <mat-select formControlName="priceId">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let price of prices" [value]="price.id">
                        {{ price.displayName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="accessibilities">
                <mat-label>Accessibilities</mat-label>
                <mat-select formControlName="accessibilityId">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let accessibility of accessibilities" [value]="accessibility.id">
                        {{ accessibility.displayName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </section>
    <section class="form-actions">
        <button class="form-actions__button" mat-stroked-button type="button" (click)="clear()">Clear</button>
        <button class="form-actions__button" mat-flat-button color="accent" type="submit" [disabled]="searchForm.invalid">Find an Activity</button>
    </section>
</form>
