<form [formGroup]="searchForm" (ngSubmit)="submit()" autocomplete="off">
    <mat-form-field class="full-width">
        <mat-label>Type of Activity</mat-label>
        <mat-select formControlName="typeOfActivity">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let activity of activities" [value]="activity">
                {{ activity | titlecase }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Number of Participants</mat-label>
        <input type="number" matInput formControlName="numberOfParticipants">
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Price Range</mat-label>
        <input matInput formControlName="priceRange">
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Accessibility Range</mat-label>
        <input matInput formControlName="accessibilityRange">
    </mat-form-field>
    <button class="full-width" mat-flat-button color="accent">Find an Activity</button>
</form>